// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #7ac794;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #6ed59a;
$negative: #f38684;
$info: #31ccec;
$warning: #f2c037;

$debit: #e78a87;
$credit: #89d09d;

.body--light {
  --q-bodyBackground: #f2fff6;
}

body {
  background-color: var(--q-bodyBackground);
}

.q-field__control::before {
  border: 1px solid $secondary !important;
}

.big-button:before {
  border-width: 5px !important;
}
